*.class

#package file

*.war
*.jar

#kdiff3 ignore
*.orig

#maven ignore
target/
bin/

#eclispe ignore
.settings/
.project
.classpath

#idea
.idea/
/idea/
out/
*.ipr
*.iml
*.iws

#temp file

*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
