<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.sample.mapper.SecretUserMapper">
	<resultMap id="BaseResultMap" type="com.boot.sample.entity.SecretUser">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_code" jdbcType="VARCHAR" property="userCode" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="user_type" jdbcType="VARCHAR" property="userType" />
		<result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
		<result column="add_user" jdbcType="VARCHAR" property="addUser" />
		<result column="update_user" jdbcType="VARCHAR" property="updateUser" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_code, user_name, user_type, add_time, add_user, update_user,
		update_time
	</sql>
	<select id="select" resultMap="BaseResultMap">
		select * from tb_secret_user
	</select>
	<insert id="save">
		insert into tb_secret_user(user_code, user_name, user_type, add_time, add_user, update_time, update_user) 
		values(#{userCode, jdbcType=VARCHAR}, #{userName, jdbcType=VARCHAR}, #{userType, jdbcType=VARCHAR}, 
		now(), "SYSTEM", now(), "SYSTEM")
	</insert>
	<update id="updateByUserCode">
		update tb_secret_user set user_name=#{userName, jdbcType=VARCHAR} where user_code=#{userCode, jdbcType=VARCHAR}
	</update>
</mapper>